ion-content.background{
    --background: #1a1a1a;
}


#bienve{
    margin-top: 20px;
    color: #1a1a1a;    
}

#imglogo{
    max-width: 150px;
    height: 150px;
    padding: .10em;
    height: 12vh;
}
#ics{
    padding-bottom: 10px;
}

#duoclogo{
    max-width: 150px;
    height: 150px;
    padding: .5em;
    height: 8vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

ion-input{   
    border-radius: 5px;
    font-size: small;
}

#btnGuardar{
    background-color: rgb(255, 184, 0,1) ;
    width: 200px;
    margin-top: 20px;
}
#btnGuardar:hover{
    background-color: rgb(252, 206, 90) ;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 14px 30px 0 rgba(0,0,0,0.19);
    width: 200px;
}




