
<ion-content >
  <!-- perfil -->

  <ion-card id="perfilCard" class="ion-text-center">
    <ion-card-title id="tperfil"> Mi perfil</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-input clearinput type="string" [(ngModel)]="profile.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido:</ion-label>
        <ion-input clearinput type="string" [(ngModel)]="profile.apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contacto:</ion-label>
        <ion-input clearinput type="tel" [(ngModel)]="profile.contacto"></ion-input>
      </ion-item>
      <ion-button  expand="block" (click)="save()" >Guardar</ion-button>
      


    </ion-card-content>
  </ion-card>
  
</ion-content>
