<ion-header [translucent]="false">
  <ion-toolbar id="tool">
    <img id="imglogo" alt="logo" src="assets/img/logotrucho.jpg" />
    <ion-card-subtitle class="ion-text-center" style="padding-bottom: 60px;">Movilizacion alumnos DuocUC
    </ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="centrar" class="ion-text-center">
    <ion-card-title id="bienve">
      <h1><b>¡Bienvenido Alumno!</b></h1>
    </ion-card-title>
    <ion-card-content>
      
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input clearInput type="email" [(ngModel)]="usuar" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input clearInput type="password" [(ngModel)]="passwo" required></ion-input>
        </ion-item>
      
    </ion-card-content>
    <button id="btnIngresar" mat-raised-button (click)="ingresar()">Ingresar</button>
    <ion-card-content>
      <ion-router-link routerLink="/restablecer" href="#">
        <p>¿Olvido su contraseña?</p>
      </ion-router-link>
      <ion-router-link routerLink="/registro" href="#">
        <p>Registrarse</p>
      </ion-router-link>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <img id="duoclogo" alt="logo duoc" src="assets/img/duoclogo.png" />
    </ion-title>
  </ion-toolbar>
</ion-footer>