
#imglogo{
  height: 50px; 
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;

  
}

#duoclogo{
  height: 30px;
  display:flex;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#tool{
  height: 110px;
}
#btnCerrarSesion{
  padding-left: 50px;
  background-color: rgba(251, 255, 0, 0.945) ;
    width: 200px;
}

#bordeBienve{
  width:200px;
  height:40px;
  border:3px solid rgb(255, 184, 0, 1);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

